---
import Layout from '../layouts/Layout.astro'
import { changeLanguage } from 'i18next'

changeLanguage('en')
---

<Layout title="Welcome to Astro.">
  <div class="max-w-screen-md md:mx-auto">
    <h1 class="text-3xl font-bold">Kakeru</h1>
  </div>
</Layout>
